charset "UTF-8";

body{
    margin: 0px;
    background-color: #F2F2F2;
}
#boxTop{
    background-image: url(./Img/Earth3.jpg);
    background-size: cover;
    background-position: right;
}
#Nome{
    color:#E6E6E6;
    padding-left: 50px;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 3em;
}
#boxTop{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#Prof{
    color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    font-size: 2em;
}
.boxBottom .title{
    color: #585858;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: black 0.02em 0.02em 0.07em;
}
#sobre1{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    padding-top: 50px;
    padding-left: 7px;
    padding-right: 47em;
    text-align: justify;
    line-height: 1.5;
}
#sobre2{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    padding-top: 20px;
    padding-left: 7px;
    text-align: justify;
    line-height: 2.0;
    float:left;
}
.width60{
    width: 60%;
}
.width40{
    width: 40%;
    display: inline;
}
.CR{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.link{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.link a{
    color: black;
}
#linkUP{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
}
#linkUP a{
    color: black
} 
.p_form a{
    color:#333333;
}
.particip{
    line-height: 2.0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333
}
.type_particip{
    line-height: 3.0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333333
}
#tcc{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
nav.Menu{
    margin-top: 45px;
    background-color: #333333;
    height: 50px
}
nav.Menu a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav.Menu ul{
    list-style-type: none;
    text-align: center;
    display: table;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
nav.Menu li{
    height: 50px;    
    display: table-cell;
    vertical-align: middle;
    text-align: center;    
}
nav.Menu li:hover{
    background-color: #20B2AA;
}
.boxBottom{
    
    padding-left: 50px;
    padding-right: 50px;
    display:inline-block;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 2.0;
    display: inline;
}
.pdf{
    padding-top: 5px;
    height: 80px;
}
.cvpdf{
    vertical-align: top;
    padding-left: 25px;
}
.cv{
    text-align: center;
}
#contacto{
    margin-left: 70px;
}
#foto{
    width: 280px;
    filter: grayscale(0.2);
    border: grey solid 3px;
    display: inline;
    margin-left: 130px;
    margin-bottom: 50px;
}
.info{
    float: left;
}
#endereço{
    padding-bottom: 65px;
}
#th{
    padding-bottom: 30px;
    text-align: left;
}
.form{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.p_form{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 2.0;
    text-align: justify;
    padding-right: 5em;
}
#CMM{
    height: 250px;
    width: 400px;
}
#EAC{
    height: 270px;
    width: 300px;
    padding-left: 50px;
}
#EPUB{
    height: 200px;
    width: 300px;
    padding-left: 55px;
    padding-top: 80px;
}
.experiencia{
    display: table;
}
.experiencia-img{
    float: left;
    height: 250px;
    display: table-cell;
    padding-bottom: 80px;
}
#experiencia-txt1{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 250px;
    vertical-align: middle;
    display: table-cell;
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 80px;
    padding-bottom: 80px;
    text-align: justify;
    line-height: 3.0;
}
#experiencia-txt2{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 250px;
    vertical-align: middle;
    display: table-cell;
    padding-top: 0px;
    padding-left: 85px;
    padding-right: 80px;
    padding-bottom: 80px;
    text-align: justify;
    line-height: 3.0;
}
#experiencia-txt3{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 250px;
    vertical-align: middle;
    display: table-cell;
    padding-top: 40px;
    padding-left: 85px;
    padding-right: 80px;
    padding-bottom: 80px;
    text-align: justify;
    line-height: 3.0;
}
.domínio{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    height: 150px;
    margin: 50px;
}
#qgislogo{
    height:60px;
    padding-bottom: 30px;
    margin: 50px;
}
.gisexp{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 2.0;
}
/*** TABELA - DOMÍNIOS COMPLEMENTARES ***/
.fab{
    padding-right: 50px;
}
.fas{
    padding-right: 50px;
}
.lineup{
    text-align: center;
    font-size: 45px;
}
.linebottom{
    line-height: 1.0;
    text-align: center;
    
}
.complementar{
    padding-right: 50px;
}
#lenguage{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333; 
    display: flex;
}
#lenguage2{
    padding-left: 15em;
}
.lenguage3{
    padding-left: 40px;
    padding-bottom: 20px;
    Font-weight: bold;
}
.hability{
    list-style-type: none;
    line-height: 4.0;

    grid-template-columns: repeat(3,1fr);
    border:#191919;
}
.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #333333;
    display: inline-block;
    margin-top: 11px;
}
.dot_white{
    height: 13.7px;
    width: 13.7px;
    background-color: #F2F2F2;
    border: 1px solid #333333;
    border-radius: 50%;    
    display: inline-block;
    margin-top: 11px;
}
#cpessoal{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    padding-right: 30%;
    line-height: 1.5;
}

/* PÁGINA 6 */
#descricao_mapa{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 2.5;
}
.trabalhos{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    list-style-type: none;
    line-height: 2.0;
}
.documento{
    text-decoration: none;
    color: #333333;
}
.documento:hover{
    color:blue;
}

/* FOOTER */
footer{
    background-color: #848484;
    height: 40px;
}
#autoria{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    color: #1C1C1C;
}


